@charset "utf-8";
.date {
    background: url("../img/calendar.gif") no-repeat scroll 0 0 transparent;
    color: #666666;
    float: left;
    font: 25px/125% Arial,Helvetica，sans-serif;
    height: 50px;
    padding: 0 2px 0 0;
    text-align: center;
    width: 45px;
}
.date span {
    color: #FFFFFF;
    display: block;
    font: 12px Arial,Helvetica,sans-serif;
    height: 16px;
    padding-top: 6px;
    text-align: center;
}
.test_box {
    width: 400px;
    min-height: 120px;
    max-height: 500px;
    _height: 500px;
    margin-left: auto;
    margin-right: auto;
    padding: 3px;
    outline: 0;
    border: 1px solid #a0b3d6;
    font-size: 12px;
    word-wrap: break-word;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-user-modify: read-write-plaintext-only;
}

.note_content {
    font-size: 14px;
    line-height: 25px;
    overflow: hidden;
    padding-left: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.reason {
    color: #333;
    margin-top: 20px;
    font-size: 16px;
    text-align:left;
    display: table-cell;
    vertical-align:middle
}

.reason span {
    color: #009966;
    font-weight: bold;
}
.column, .span-1, .span-2, .span-3, .span-4, .span-5, .span-6, .span-7, .span-8, .span-9, .span-10, .span-11, .span-12, .span-13, .span-14, .span-15, .span-16, .span-17, .span-18, .span-19, .span-20, .span-21, .span-22, .span-23, .span-24 {
    float: left;
    margin-right: 10px;
}
